{% extends 'base.html' %} {% block title %} About {% endblock title %}{% block
body %}
<div class="container my-1 mb-3">
  <h5 style="color: #5e9ca0">
    ToDo List using <span style="color: #2b2301">Flask</span>
  </h5>

  <h5 style="color: #033748">Features of ToDo:</h5>
  <ol
    style="
      list-style: none;
      font-size: 14px;
      line-height: 32px;
      font-weight: bold;
    "
  >
    <li style="clear: both">&#9745; Easy to add todo's</li>
    <li style="clear: both">
      &#9745; All ToDo's can be view with date of creation.
    </li>
    <li style="clear: both">
      &#9745; If you want to edit ToDo, you can edit it easily.
    </li>
    <li style="clear: both">&#9745; You can dispose completed ToDo's</li>
    <li style="clear: both">&#9745; Vivid UI for easy use.</li>
  </ol>
  <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
  <h5 style="color: #2e6c80">How to use ToDo List steps mentioned below.</h5>

  <h5 style="color: #033748">Steps to use ToDo List:</h5>
  <table class="editorDemoTable">
    <thead>
      <tr>
        <td>Action</td>
        <td>Example</td>
        <td>Operation</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Add you ToDo title</td>
        <td>MyFirst ToDo title</td>
        <td>
          &nbsp;<strong style="font-size: 17px; color: #08be72"> Add</strong>
        </td>
      </tr>

      <tr>
        <td>Add your ToDo Description</td>
        <td>MyFirst ToDo Description</td>
        <td>
          &nbsp; <strong style="font-size: 17px; color: #08be72"> Add</strong>
        </td>
      </tr>

      <tr>
        <td>To save the changes of new ToDo</td>
        <td>
          Click on the
          <span
            style="
              background-color: #091cf1;
              color: #fff;
              display: inline-block;
              padding: 3px 10px;
              font-weight: bold;
              border-radius: 5px;
            "
            >Create</span
          >
          button
        </td>
        <td>
          &nbsp; <strong style="font-size: 17px; color: #08be72"> Add</strong>
        </td>
      </tr>

      <tr>
        <td>View all ToDo</td>
        <td>
          All ToDo will be listed below
          <strong style="color: #08be72">View All To Do. </strong>
        </td>
        <td>
          &nbsp;
          <strong style="font-size: 17px; color: #41cdd1">View</strong>
        </td>
      </tr>

      <tr>
        <td>To edit a ToDo</td>
        <td>
          Click on
          <span
            style="
              background-color: #f1e909;
              color: #fff;
              display: inline-block;
              padding: 3px 10px;
              font-weight: bold;
              border-radius: 5px;
            "
            >Update</span
          >
          button and it will take you to ToDo Update page.
        </td>
        <td>
          &nbsp;
          <strong style="font-size: 17px; color: #f1e909"> Update</strong>
        </td>
      </tr>

      <tr>
        <td>To save edited changes on ToDo</td>
        <td>
          Make changes and click on
          <span
            style="
              background-color: #f1e909;
              color: #fff;
              display: inline-block;
              padding: 3px 10px;
              font-weight: bold;
              border-radius: 5px;
            "
            >Update</span
          >
          button and it will save redirect to home page.
        </td>
        <td>
          &nbsp;
          <strong style="font-size: 17px; color: #f1e909"> Update</strong>
        </td>
      </tr>

      <tr>
        <td>Delete a ToDo</td>
        <td>
          To delete a ToDo click on
          <span
            style="
              background-color: #f10909;
              color: #fff;
              display: inline-block;
              padding: 3px 10px;
              font-weight: bold;
              border-radius: 5px;
            "
            >Delete</span
          >
          button and it delete selected ToDo and page will be reloaded.
        </td>
        <td>
          &nbsp;
          <strong style="font-size: 17px; color: #f10909"> Delete</strong>
        </td>
      </tr>
    </tbody>
  </table>
  <p><strong>&nbsp;</strong></p>
  <p>
    <strong
      >Now this are the spes to create a ToDo and make changes or delete
      it.</strong
    >
  </p>
  <p>
    <strong
      >Share it with your friends and loved ones, so they will never miss any
      things to do. It's all FREE! </strong
    ><br />&#128512;<strong>Enjoy!</strong>
  </p>
  <p><strong>&nbsp;</strong></p>
</div>

{% endblock body %}
